In [6]:
import pandas as pd

In [7]:
df_engagement = pd.read_csv("data/engagement.csv")

In [8]:
df_engagement.shape

(88874, 4)

In [9]:
df_engagement.head()

    user_id browser program  hrs_per_week
0    769245      IE   binge          4.91
1  21650570  Safari   binge          3.97
2  91760162  Chrome    drip          3.55
3  90748752  Chrome    drip          5.46
4  66876824  Chrome   binge          3.87

In [10]:
df_engagement['browser']

0             IE
1         Safari
2         Chrome
3         Chrome
4         Chrome
          ...
88869     Chrome
88870     Safari
88871     Chrome
88872      Opera
88873    Firefox
Name: browser, Length: 88874, dtype: object

In [11]:
df_engagement['browser'].value_counts()

Chrome     38626
IE         19460
Firefox    19303
Safari      9605
Opera       1880
Name: browser, dtype: int64

In [12]:
df_users = pd.read_csv("data/users.csv")

In [13]:
df_users.shape

(88874, 3)

In [14]:
?

In [15]:
df_engagement["user_id"].nunique()

88874

In [16]:
df_users["user_id"].nunique()

88874

In [17]:
engagement_user_ids=df_engagement["user_id"].unique()

In [18]:
engagement_user_ids[0:5]

array([  769245, 21650570, 91760162, 90748752, 66876824])

In [19]:
users_user_ids=df_users["user_id"].unique()

In [20]:
users_user_ids[0:5]

array([90482091, 41529564, 47570654, 96119909, 57248612])

In [21]:
set(engagement_user_ids)-set(users_user_ids)

set()

In [22]:
df_users_engagement = pd.merge(df_engagement, df_users)

In [23]:
df_users_engagement

        user_id  browser program  hrs_per_week registration  country
0        769245       IE   binge          4.91   2015-11-20  Germany
1      21650570   Safari   binge          3.97   2016-01-12   France
2      91760162   Chrome    drip          3.55   2016-03-21   France
3      90748752   Chrome    drip          5.46   2016-03-17   France
4      66876824   Chrome   binge          3.87   2016-04-01  Germany
...         ...      ...     ...           ...          ...      ...
88869  77712477   Chrome    drip          3.96   2016-03-01   France
88870  71724217   Safari    drip          3.73   2016-05-06  Germany
88871  69155165   Chrome    drip          2.98   2015-11-02  Germany
88872  34336713    Opera   binge          0.24   2016-06-02  Germany
88873   7523887  Firefox   binge          4.19   2016-01-21  Germany

[88874 rows x 6 columns]

In [24]:
df_engagement[df_engagement["user_id"]==769245 ]

   user_id browser program  hrs_per_week
0   769245      IE   binge          4.91

In [25]:
df_users[df_users["user_id"]==769245 ]

      user_id registration  country
7669   769245   2015-11-20  Germany

In [26]:
df_users_engagement[df_users_engagement["user_id"]==769245 ]

   user_id browser program  hrs_per_week registration  country
0   769245      IE   binge          4.91   2015-11-20  Germany

In [28]:
df_users_engagement.isnull().sum()

user_id         0
browser         0
program         0
hrs_per_week    0
registration    0
country         0
dtype: int64

In [29]:
df_users_engagement["hrs_per_week"]

0        4.91
1        3.97
2        3.55
3        5.46
4        3.87
         ...
88869    3.96
88870    3.73
88871    2.98
88872    0.24
88873    4.19
Name: hrs_per_week, Length: 88874, dtype: float64

In [31]:
df_users_engagement["hrs_per_week"].nlargest(5)

64560    17.23
8085     16.99
13128    16.36
50460    16.04
54687    16.01
Name: hrs_per_week, dtype: float64

In [32]:
df_users_engagement["hrs_per_week"].nsmallest(5)

14     0.0
49     0.0
52     0.0
65     0.0
131    0.0
Name: hrs_per_week, dtype: float64